{% extends 'admin/base.html' %}
{% block title %}
</title>Return Books</title>
{% endblock %}

{% block body %}

<div class="content-area">
    <div class="flexContainer" id="dashboardLineContainer">
        <div class="flex-40 dashboardLine">
            <i class="fa fa-home fa-2x" style="float: left;" id="homeIcon"></i>
            <div style="margin-bottom: 0;margin-top: 0;">
                <h3 style="margin-bottom: 0;margin-top: 2px;"><small>Return Books</small> </h3>
                <p style="margin-bottom: 0;margin-top: 0;"><small>Book Inventory</small> </p>
            </div>
        </div>
    </div>
</div>

<h2 style="margin: 1% 2.5% 1% 2.5%;">Return Books</h2>


<div class="cardRow2 tablecard">
    <table class="attendance_form_table">
        <thead>
            <tr style="text-align: left;">
                <th>Trans ID</th>
                <th>Book Title</th>
                <th>Customer ID</th>
                <th>Customer Name</th>
                <th>Date of Issue</th>
                <th>Status</th>
                <th>Cost</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody id="attendance_form_table_data">
            {%for book in issued_books %}
            <form action="/books/return/{{book[0]}}" method="POST">
                <tr>
                    <td>{{book[0]}}</td>
                    <td>{{book[2]}}</td>
                    <td>{{book[3]}}</td>
                    <td>{{book[4]}}</td>
                    <td>
                        <div class="dropdown">
                            <input type="date" class="dropinput" style="outline: none;" value="{{book[6]}}" disabled
                                aria-disabled="true">
                        </div>
                    </td>
                    <td>{{book[7]}}</td>
                    {% if book[7] == "live" %}
                    <td><input type="text" name="cost" id="cost" class="formInput" style="width: 50%;">
                        <input type="text" name="cust_id" id="cust_id" class="formInput" value="{{book[3]}}"
                            style="width: 50%;display:none;" required aria-required="true">
                    </td>
                    <td><button type="submit" class="dropbtn btn-danger">Delete</button></td>

                    {% else %}
                    <td>{{ book[5] }}</td>
                    {% endif %}
                </tr>
            </form>
            {%endfor%}

        </tbody>
    </table>
</div>
{% endblock %}